<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container col-6 mx-auto">
      <div class="navbar">
        <h1><%= link_to "Yelp!", restaurants_path %></h1>
        <%= link_to "Post!", new_restaurant_path, class: "btn btn-inverse" %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
